<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="personalFormGroup">
    <form [formGroup]="personalFormGroup">
      <ng-template matStepLabel>{{
        "INFORMACION_PERSONAL" | translate
      }}</ng-template>
      <div>
        <mat-form-field class="full-width">
          <input
            id="name"
            formControlName="name"
            matInput
            placeholder="{{ 'NOMBRE' | translate }}"
            [pattern]="unamePattern"
            required
          />
          <mat-error *ngIf="personalFormGroup.get('name').errors">
            {{ "MSG_ERROR_NOMBRE" | translate }}</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
          <input
            id="email"
            formControlName="email"
            matInput
            type="email"
            placeholder="Email"
            required
          />
          <mat-error *ngIf="personalFormGroup.get('email').errors">
            {{ "MSG_ERROR_EMAIL" | translate }}</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input
            id="url"
            formControlName="url"
            matInput
            type="text"
            placeholder="Url"
            required
          />
          <mat-error
            *ngIf="
              personalFormGroup.get('url').errors &&
              personalFormGroup.get('url').errors.validUrl
            "
          >
            {{ "MSG_ERROR_URL" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="button" matStepperNext>
          {{ "SIGUIENTE" | translate }}
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="accountFormGroup">
    <form [formGroup]="accountFormGroup">
      <ng-template matStepLabel>{{
        "INFORMACION_CUENTA" | translate
      }}</ng-template>
      <div>
        <mat-form-field>
          <mat-select
            class="full-width"
            formControlName="mc"
            (selectionChange)="mcChanged($event)"
            placeholder="{{ 'ALYC' | translate }}"
          >
            <mat-option
              style="width:100%"
              *ngFor="let mc of mcs"
              [value]="mc.miembroCompensadorCodigo"
            >
              {{ mc.miembroCompensadorDescripcion }} - ({{
                mc.miembroCompensadorCodigo
              }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select
            class="full-width"
            (selectionChange)="cimChanged($event)"
            formControlName="cim"
            placeholder="{{ 'CIM' | translate }}"
          >
            <mat-option
              style="width:100%"
              *ngFor="let cim of selectedCims"
              [value]="cim.cuentaCompensacionCodigo"
            >
              {{ cim.cuentaCompensacionDescripcion }} - ({{
                cim.cuentaCompensacionCodigo
              }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button
          mat-raised-button
          color="default"
          type="button"
          matStepperPrevious
        >
          {{ "ATRAS" | translate }}
        </button>
        <button mat-raised-button color="primary" type="button" matStepperNext>
          {{ "SIGUIENTE" | translate }}
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> {{ "FIN" | translate }}</ng-template>
    <div class="form-group">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ personalFormGroup.value.name }}</mat-card-title>
          <mat-card-subtitle>{{
            personalFormGroup.value.email
          }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <mat-card-content>
          <p>MC: {{ selectedMC?.text }}</p>
          <p>CIM: {{ selectedCIM?.text }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="stepper.reset()"
          >
            Cancelar
          </button>
          <button mat-raised-button color="primary" (click)="submit()">
            {{ "ENVIAR" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <button
        mat-raised-button
        color="default"
        type="button"
        matStepperPrevious
      >
        {{ "ATRAS" | translate }}
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
