<div class="stock-widget">
  <div class="info">
    <div class="name">
      {{ widget.instrumento }}
    </div>
    <div class="fullname">
      {{ widget.marca }}
    </div>
  </div>
  <div class="badge">
      <span class="currency">$</span>
    <span class="value">{{ widget.valor1 }}</span>    
  </div>
  <div class="more-data">
    <div class="change earn">
      $ {{ widget.valor2 }} 
    </div>
    <div class="change-percentage earn">
      {{ widget.valor3 }} %
    </div>
  </div>
</div>
